*{
    margin: 0;
    padding: 0;
}

body{
    background: url(../imagenes/fondo.jpg) ;
    background-attachment: fixed, scroll;
    background-repeat: no-repeat, repeat-y;
    background-size: cover;
}

.navbar-nav {
    width: 100%;
    background: none;
    flex-wrap: nowrap;
}

.nav-item{
    padding-left: 15px;
    padding-right: 15px;
}

#navbarNav ul a{
    color: #55862d;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#navbarNav ul a:hover{
    color: #0f1b02;
}


.titulo-nutrifood1{
    color: #55862d;
}

.titulos{
    color: #55862d;
    justify-content: center;
}

.comida{
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.comida:hover{
    border-color: #0f1b02;
    
}
  
.comida:hover {
    transform: scale(1.03);
}

#ingredientes{
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #55862d;
}

#ingredientes:hover{
    background-color: #2a4a09;;
    color: #55862d;
    transition: 0.3s ease-in-out;
    

}

.ingredientes li{
    text-align: left;
}

.filosofia{
    color: #55862d;
    justify-content: center;
}

.icon{
    color: #55862d;
}

.icon:hover{
    color: #2a4a09;
    transition: 0.3s ease-in-out;
}


footer{
    background-color: #aed291;
}

footer ul {
    list-style: none;
    text-align: center;
}

#info ul li a{
    text-decoration: none;
}

.text{
    color: #5a7841;
}

.textfooter{
    color: #55862d;
}

.ancla {
    position: relative;
    top: -4.5rem;
}

